* {
    margin:0;
    padding: 0;
    }

h1 {
    text-align: center;
    margin: 20px;
    color: rgb(4, 73, 85);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    padding-top: 15px;
    color: rgb(5, 44, 78);
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    color: rgb(5, 44, 78);
}

p {
    margin-bottom: 10px;
}

.tab1 {
    text-align: center;
    background-color: #acecf6;
    width: 80%;
    margin-left: 10%;
}

.tab2 {
    text-align: center;
    background-color: #a3e1d8;
    width: 80%;
    margin-left: 10%;
}

.tab3 {
    text-align: center;
    background-color: #9ad5b9;
    width: 80%;
    margin-left: 10%;
}

.menuspecial {
    border: 1px dashed black;
    width: 60%;
    margin-left: 20%;
    border-radius: 10px;
    padding: 20px;
}

.openinghours {
    border: 1px dashed black;
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.nav {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
}

.tabs {
    background-color: rgb(230, 142, 142);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-basis: 33%;
    padding: 10px 0;
    text-align: center;
}

#btntab1 {
    background-color: #acecf6;
}

#btntab2 {
    background-color: #a3e1d8;
}

#btntab3 {
    background-color: #9ad5b9;
}

#btntab1:hover {
    background-color: #89ccd6;
}

#btntab2:hover {
    background-color: #7ac2b7;
}

#btntab3:hover {
    background-color: rgb(94, 170, 159);
}



#content {
    margin-top: 0%;
}

form {
    background-color: rgba(255, 255, 255, 0.753);
    margin: 20px;
}